@import "./reset.css";
@import "https://unpkg.com/open-props";

:root {
  --grid-column-count: 3;
  --grid-large-column-count: 2;
}

body {
  font-family: Gill Sans, var(--font-sans);
  font-size: var(--font-size-3);
  line-height: var(--font-lineheight-1);
  color: black;
  background: white;
  max-width: var(--size-md);
  padding: var(--size-2);
}

em {
  
}

main {
  display: grid;
  gap: var(--size-4);
}

section {
  display: grid;
  gap: var(--size-2);
}

img {
  max-width: 100%;
}

figure {
  display: grid;
  gap: var(--size-1);
}

figcapture {
  font-size: 80%;
  display: grid;
  gap: var(--size-2);
}

h2 {
  font-weight: bold;
}

hr {
  border-bottom: 2px dashed gray;
}

.cover-photo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: var(--size-2);
  align-items: start;

  @media screen and (width < 640px) {
    grid-template-columns: unset;
    
    & figure img {
      aspect-ratio: 1/1;
      object-position: bottom;
      object-fit: cover;
    }
  }
}

.grid {
  --grid-column-count: 3;
  
  display: grid;
  align-items: start;
  grid-template-columns: repeat(var(--grid-column-count), 1fr);
  grid-gap: var(--size-3) var(--size-2);
  
  @media screen and (width < 640px) {
    --grid-column-count: 2;
  }
}

.grid-large {
  --grid-column-count: 2;

  display: grid;
  align-items: start;
  grid-template-columns: repeat(var(--grid-column-count), 1fr);
  grid-gap: var(--size-2);
}

